$gutter: 16px !default;
$gutter-half: ($gutter / 2) !default; // 8px
$gutter-third: ($gutter / 3) !default; // 5,33px
$gutter-quarter: ($gutter / 4) !default; // 4px
$gutter-sixth: ($gutter / 6) !default; // 3px
$gutter-eighth: ($gutter / 8) !default; // 2px
